 pre {
	padding: 0.5rem 1rem;
	overflow: auto;
	border-radius: 5px;
  }
  code {
	padding: 0.5em;
	border-radius: 4px;
	font-family: Consolas, Monaco, 'Andale Mono', monospace;
	font-size: 0.9em;
  }
  pre > code {
	padding: 0;
	line-height: 1.5;
	word-break: normal;
	white-space: pre;
	word-spacing: normal;
	tab-size: 4;
  }