---
import HomeLayout from '../layouts/HomeLayout.astro';
import HomePointBox from '../layouts/HomePointBox.astro';
---

<style>
	.points-grid {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-gap: 3rem;
		margin-top: 3rem;
	}
	h1 {
		font-size: 3rem;
		text-align:center;
	}
	@media (max-width: 700px) {
		h1 {
			font-size: 2rem;
		}
	}
	h2 {
		font-size: 3rem;
		margin-top: 6rem;
		text-align: center;
	}
	.drop-ghosts {
		text-shadow:
		0px -0.25em 0px hsl( 0, 0%, 70% ) ,
		0px -0.6em 0px hsl( 0, 0%, 84% ) ,
		0px -1.0em 0px hsl( 0, 0%, 92% ) ;
	}
	@media (max-width: 700px) {
		.points-grid {
			grid-template-columns: 1fr;
		}
	}
	.project-status {
		--yellow: #ffff51;
		background-image: repeating-linear-gradient(-45deg, 
		black 0, black 20px, var(--yellow) 20px, var(--yellow) 40px);
		padding: 10px 0 2px 0;
		margin: 3rem 0;
	}
	.project-status > div {
		background-color: rgba(255, 255, 245, 0.97);
		padding: 0.5em;
	}
	.project-status h3 {
		margin: 0;
		margin-top: 0.5rem;
	}
	.project-status ul {
		margin-left: 0em;
	}

	dl.drop-by {
		display: grid;
		grid-template-columns: auto auto;
		gap: 0.5em 0.3em;
		margin-bottom: 2.5em;
	}
	dl.drop-by dt {
		text-align: right;
		font-weight: bold;
	}
	dl.drop-by dd {
		margin:0;
	}
	@media (max-width: 500px) {
		dl.drop-by {
			grid-template-columns: auto;
			gap:0 0;
		}
		dl.drop-by dt {
			text-align:left;
		}
		dl.drop-by dd {
			margin: 0.2em 0 0.5em 1em;
		}
	}
	.icons {
		font-size: 1rem;
		color: #aaa;
		text-align: center;
	}
	.icons a {
		color: #6767b3;
		display: inline-block;
		margin: 0 0.2em;
	}
</style>

<HomeLayout>
	<h1>An Application Platform for Your Personal Web Services</h1>
	<p>Dropserver is an open source server for hosting a multitude of small web-based applications.</p>
	<p>With Dropserver the goal is not to scale your application to many users, but to allow each user to run their own applications at a small scale. Dropserver is designed to host multiple different applications just for you, your family, your club, or your small business.</p>
	<p>You can run your own Dropserver instance for you and your friends, or (hopefully in the future) you will be able to sign up for a commercial host for a few dollars per month.</p>
	<p>Once you have a Dropserver, installing an application takes a few clicks and "just works".</p>

	<h2>Why<span class="drop-ghosts">?</span></h2>

	<p>Dropserver is a kindred spirit of the "indie web" and "small web" movements, which aims to give internet users the means to control their presence on the web. Dropserver's goal is to give users control over the code they interact with in the cloud.</p>

	<div class="points-grid">
		<HomePointBox 
			image="/homepage/icons8-snowglobe-64.png"
			box_title='Your Own Web'>
			<p>Instead of signing up for services that eventually shutdown, degrade, or pivot away, set up a Dropserver and install your own applications.</p>
		</HomePointBox>
		<HomePointBox 
			image="/homepage/icons8-tango-96.png"
			box_title='For Your Friends Too'>
			<p>Invite friends to your appspaces so you can collaborate, share, and have a laugh. Dropserver applications can work with just two users, a dozen, or even hundreds.</p>
		</HomePointBox>
		<HomePointBox 
			image="/homepage/icons8-grand-master-key-96.png"
			box_title="Convenient Access">
			<p>There is no need to create a new account every time you use a new application or service. Dropserver gives you direct access to all your installed applications.</p>
			<p>You also get one-click access to the appspaces your friends have invited you to.</p>
		</HomePointBox>
		<HomePointBox 
			image="/homepage/icons8-prison-64.png"
			box_title="Sandboxed For Security">
			<p>For your privacy and security each application runs in a sandbox that prevents it from reading files from disk or contacting any server on the internet. If it needs to do any such thing that permission must be explicitly granted by the user.</p>
			<p>Read more about Dropserver's
				<a href="/docs/security-model">security model</a>.</p>
		</HomePointBox>
		<HomePointBox 
			image="/homepage/icons8-move-shit-around-96.png"
			box_title="Freedom To Move">
			<p>Applications and associated data can be exported and moved to a new home, giving you the freedom to relocate to a new server whenever you feel like it.</p>
			<p>Dropserver is open source so you will always be able to run it on your own hardware if you choose to.</p>
		</HomePointBox>
		<HomePointBox 
			image="/homepage/icons8-plant-64.png"
			box_title="An Efficient Cloud">
			<p>How many apps do you have on your phone? How many do you use regularly? Dropserver is designed with that usage pattern in mind: users should be able to install many applications yet only the actively used ones should consume resources like RAM or CPU cycles.</p>
			<p>Read more about the
				<a href="/docs/application-model">application model</a>.</p>
		</HomePointBox>
	</div>

	<div class="project-status">
		<div>
			<h3>Project Status:</h3>
			<ul>
				<li>Dropserver is under active development, but it is not yet ready for general use. Some of what you read above is aspirational.</li>
				<li>A good chunk of functionality is in place and Dropserver is already proving valuable and fun (to its developer at least).</li>
				<li>If you are a developer who wants to experiment with a self-hosted server please have a look at the
					<a href="docs">docs</a> to get started.</li>
			</ul>
		</div>
	</div>

	<h2>Apps<span class="drop-ghosts">?</span></h2>
	<p>While there are a handful of apps for Dropserver, the first adopters will likely be people who want to build an app to scratch their own itch.</p>
	<p>Luckily one of the goals of Dropserver is that it should be as easy as possible to create the backend of an app. Dropserver provides user management, authentication, file storage and serving of static assets, TLS, data migration hooks, and more... so all you have to code is your application logic.</p>
	<p>For example the backend for this 
		<a href="https://olivierforget.net/blog/2022/secret-santa-dropserver-app/">Secret Santa app</a> is a <strong>single TypeScript file, 120 lines long!</strong></p>
	<p>With that, here are some ideas of what you might build for Dropserver:</p>
	<ul>
		<li><strong>Personal journal app</strong>: Completely private single-user service. This would have zero public routes and nobody but yourself would have access. However, unlike purely on-device native apps, your journal would be available on any device you're logged in to.</li>
		<li><strong>A refrigerator minder</strong> for tracking leftovers. This app exists, see <a href="https://github.com/teleclimber/Leftovers">here</a>. Family-oriented services are well suited because they tend to be multi-user, fairly simple, and privacy is a plus.</li>
		<li><strong>CMS</strong>: A static site editor and publishing service. The routes for creating content would be private, while the routes that serve the site itself would be public and served statically.</li>
		<li>An internal tool for work or a club.</li>
		<li>Any application where there is one or a handful of users that interact with the same data may be a good fit.</li>
	</ul>
	<p>Learn the basics of writing an app in the <a href="/docs/build-dropserver-app-tutorial">tutorial here</a>.</p>

	<h2>Dr<span class="drop-ghosts">o</span>p By...</h2>
	<dl class="drop-by">
		<dt>Documentation:</dt>
		<dd><a href="/docs">Dropserver.org/docs</a></dd>
		<dt>Project Github:</dt>
		<dd><a href="https://github.com/teleclimber/Dropserver">GitHub.com/teleclimber/Dropserver</a></dd>
		<dt>Developer Mastodon:</dt>
		<dd><a href="https://social.tchncs.de/@teleclimber">@teleclimber@social.tchncs.de</a></dd>
		<dt>Developer Blog:</dt>
		<dd><a href="https://olivierforget.net/blog/">OlivierForget.net/blog/</a></dd>
	</dl>

	<div slot="footer" class="icons">
		Icons from icons8:
		<a href="https://icons8.com/icon/n2he8oY9Cbd6/snowglobe">Snowglobe</a>
		<a href="https://icons8.com/icon/Tjwlr5jzNNDv/tango">Tango</a>
		<a href="https://icons8.com/icon/vmVgag82bIJu/grand-master-key">Master Key</a>
		<a href="https://icons8.com/icon/2UnfVDe9zedb/prison">Prison</a>
		<a href="https://icons8.com/icon/vOZ4nkzJjLU0/move-shit-around">Move</a>
		<a href="https://icons8.com/icon/4py6PAwzQRgo/plant">Plant</a>
	</div>
</HomeLayout>