---
	import BaseLayout from './BaseLayout.astro';
---
<style>


</style>

<BaseLayout title="title">
	<header>
		<h1 class="dropserver-logo">
			<a href="/">dr<span class="drop-o">o</span>p<span class="s">server</span></a>
		</h1>
		<span>
			<a href="https://github.com/teleclimber/Dropserver">Github</a>
		</span>
	</header>

	<article>
		<slot />
	</article>
</BaseLayout>