---
	import BaseLayout from './BaseLayout.astro';
	const {title} = Astro.props.frontmatter;
---

<style is:global>
	html {
		font-size: 1.2em;
	}
	@media (width < 500px) {
		html {
			font-size: 1em;
		}
	}
	footer {
		background-color: transparent;

	}
</style>
<style>
label {
	cursor: pointer;
}
ds-docs-page {
	--ds-header-height: 3.5rem;
	--ds-sidebar-width: clamp(14rem, 30vw, 19rem);
	--ds-hamburger-display: none;
	--content-lat-pad: 0.5rem;
	display: flex;
	flex-direction: column;
	align-items: stretch;
}
docs-page-sidebar {
	position: fixed;
	inset-block: var(--ds-header-height) 0;	
	inset-inline-start: 0;
	width: var(--ds-sidebar-width);
	overflow-y: auto;
	background-color: var(--background-color);
}
@media (width < 800px) {
	ds-docs-page {
		--ds-sidebar-width: 0px;
		--ds-hamburger-display: inline;
	}
	docs-page-sidebar {
		width: 100%;
		display: none;
	}
}
ds-docs-page:has(#ds-show-nav-input:checked) docs-page-sidebar {
	display: block;
}
header {
	box-sizing: border-box;
	position: fixed;
	display: grid;
	grid-template-columns: 1fr auto;
	gap: 0.7rem;
	align-items: baseline;
	inset-inline-start: 0;
  	inset-block-start: 0;
	width: 100%;
	height: var(--ds-header-height);
	background-color: white;
	padding: 0.6rem var(--content-lat-pad) 0;
}
header h1 {
	font-size: 1.6rem;
	margin: 0;
	display: inline;
}
header label {
	display: var(--ds-hamburger-display);
	position: relative;
}
#ds-show-nav-input {
	position: absolute;
	left:0.2rem;
	top: 0.2rem;
}
header svg {
	width: 1.6rem;
	display:inline;
	position: relative;
  	top: 0.4rem;
	z-index: 2;
	background-color: white;
}
header label:focus-within svg {
	outline: auto;
}
/* https://css-tricks.com/the-focus-visible-trick/ */
header label:has(:focus:not(:focus-visible)) svg {
	outline:none;
}
docs-page-sidebar label {
	display:var(--ds-hamburger-display);
	position: fixed;
	top: calc(1rem + var(--ds-header-height));
	right: 1rem;
}
docs-page-sidebar label svg {
	width: 2rem;
}
nav {
	font-size: 0.9em;
	margin-left: var(--content-lat-pad);
}
nav ul {
	list-style-type: none;
	padding-left: 0;
}
nav ul ul li {
	margin: 0.4rem 0;
}
nav ul a {
	text-decoration: none;
}
nav ul a:hover {
	background-color: white;
}
article {
	padding-block-start: var(--ds-header-height);
	padding-inline-start: calc(var(--ds-sidebar-width) + var(--content-lat-pad));
	padding-inline-end: var(--content-lat-pad);
	box-sizing: content-box;
	max-width: 34rem;
}
</style>

<style is:global>
article > :first-child {
	margin-top: 1.5rem;
}
p > img {
	max-width: 100%;
	display: block;
	margin: 0 auto;
}

</style>

<BaseLayout title={title}>
	<ds-docs-page>
		<header>
			<header-left>
				<label for="ds-show-nav-input">
					<!--hamburger svg -->
					<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
						<path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
					</svg>
					<input type="checkbox" id="ds-show-nav-input" 
					aria-label="Toggle navigation" aria-controls="ds-docs-nav"
					onchange="this.setAttribute('aria-expanded', this.checked)" />
				</label>
				<h1 class="dropserver-logo">
					<a href="/">dr<span class="drop-o">o</span>p<span class="s">server</span></a>
					<a href="/docs" class="internal">/docs</span>
				</h1>
			</header-left>
			<span>
				<a href="https://github.com/teleclimber/Dropserver" class="external">Github</a>
			</span>
		</header>
		<docs-page-sidebar id="ds-docs-nav">
			<label for="ds-show-nav-input">
				<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
					<path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
				</svg>
			</label>
			<nav>
				<ul>
					<li>
						<h4>Understand Dropserver</h4>
						<ul>
							<li><a href="/docs/application-model">Application Model</a></li>
							<li><a href="/docs/security-model">Security Model</a></li>
							<li>Users and Logins (coming later)</li>
						</ul>
					</li>
					<li>
						<h4 id="build-apps-for-dropserver">Build Apps for Dropserver</h4>
						<ul>
							<li><a href="/docs/build-dropserver-app-tutorial">Tutorial: “Hello World” Dropserver App</a></li>
							<li><a href="/docs/building-dropserver-app">Build A Dropserver App</a></li>
							<li><a href="/docs/ds-dev">Use ds-dev to Develop an App</a></li>
							<li><a href="/docs/app-packaging-distributing">Package And Distribute Your App</a></li>
							<li><a href="/docs/app-manifest-ref">App Manifest Reference</a></li>
						</ul>
					</li>
					<li>
						<h4 id="run-dropserver">Run Dropserver</h4>
						<ul>
							<li><a href="/docs/ds-host">Install and Run ds-host on Linux</a></li>
							<li><a href="/docs/ds-host-mac">Install and Run ds-host on MacOS</a></li>
							<li><a href="/docs/ds-host-config-ref">Configuration Reference for ds-host</a></li>
							<li><a href="/docs/bubblewrap">Extra Sandbox with Bubblewrap</a></li>
							<li><a href="/docs/connect-tailnet">Connect via Tailscale</a></li>
						</ul>
					</li>
					<li>
						<h4 id="apps">Apps</h4>
						<ul>
							<li><a href="https://leftovers.olivierforget.net/app/">Leftovers</a>: Keep track of leftovers in your refrigerator</li>
							<li><a href="https://shoppinglist.olivierforget.net/">ShoppingList</a>: A shopping list app with stock tracking</li>
						</ul>
					</li>
				</ul>
			</nav>
		</docs-page-sidebar>
		<article>
			<slot />
		</article>
	</ds-docs-page>
</BaseLayout>