---
	import BaseLayout from './BaseLayout.astro';
---
<style>
label {
	cursor: pointer;
}
ds-docs-page {
	--ds-header-height: 4rem;
	--ds-sidebar-width: 19rem;
	--ds-hamburger-display: none;
	display: flex;
	flex-direction: column;
	align-items: stretch;
}
docs-page-sidebar {
	position: fixed;
	inset-block: var(--ds-header-height) 0;	
	inset-inline-start: 0;
	width: var(--ds-sidebar-width);
	overflow-y: auto;
}
@media (width < 800px) {
	ds-docs-page {
		--ds-sidebar-width: 0;
		--ds-hamburger-display: inline;
	}
	docs-page-sidebar {
		width: 100%;
		display: none;
	}
}
ds-docs-page:has(#ds-show-nav-input:checked) docs-page-sidebar {
	display: block;
	background-color: white;
}
header {
	box-sizing: border-box;
	position: fixed;
	display: grid;
	grid-template-columns: 1fr auto;
	gap: 0.7rem;
	align-items: baseline;
	inset-inline-start: 0;
  	inset-block-start: 0;
	width: 100%;
	height: var(--ds-header-height);
	background-color: white;
	padding: 0.3rem 1rem;
}
header h1 {
	margin: 0;
	display: inline;
}
header label {
	display: var(--ds-hamburger-display);
}
header svg {
	width: 2rem;
	display:inline;
	position: relative;
  	top: 0.5rem;
}
docs-page-sidebar label {
	display:var(--ds-hamburger-display);
	position: fixed;
	top: calc(1rem + var(--ds-header-height));
	right: 1rem;
}
docs-page-sidebar label svg {
	width: 2rem;
}
nav > a {
	padding-right: 1rem;
	white-space: nowrap;
}
article {
	padding-block-start: var(--ds-header-height);
	padding-inline-start: var(--ds-sidebar-width);
}
</style>

<style is:global>
p > img {
	max-width: 100%;
	display: block;
	margin: 0 auto;
}

</style>

<BaseLayout title="title">
	<ds-docs-page>
		<header>
			<header-left>
				<label for="ds-show-nav-input">
					<!--hamburger svg -->
					<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
						<path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
					</svg>
				</label>
				<h1 class="dropserver-logo">
					<a href="/">dr<span class="drop-o">o</span>p<span class="s">server</span></a>
				</h1>
			</header-left>
			<span>
				<a href="https://github.com/teleclimber/Dropserver">Github</a>
			</span>
		</header>
		<docs-page-sidebar>
			<label for="ds-show-nav-input">
				<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
					<path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
				</svg>
			</label>
			<nav>
				<ul>
					<li>
						<h4>Understand Dropserver</h4>
						<ul>
							<li><a href="/docs/application-model">Application Model</a></li>
							<li><a href="/docs/security-model">Security Model</a></li>
							<li>Users and Logins (coming later)</li>
						</ul>
					</li>
					<li>
						<h4 id="build-apps-for-dropserver">Build Apps for Dropserver</h4>
						<ul>
							<li><a href="/docs/build-dropserver-app-tutorial">Tutorial: “Hello World” Dropserver App</a></li>
							<li><a href="/docs/building-dropserver-app">Build A Dropserver App</a></li>
							<li><a href="/docs/ds-dev">Use ds-dev to Develop an App</a></li>
							<li><a href="/docs/app-packaging-distributing">Package And Distribute Your App</a></li>
							<li><a href="/docs/app-manifest-ref">App Manifest Reference</a></li>
						</ul>
					</li>
					<li>
						<h4 id="run-dropserver">Run Dropserver</h4>
						<ul>
							<li><a href="/docs/ds-host">Manually Install and Run ds-host</a></li>
							<li><a href="/docs/ds-host-config-ref">Configuration Reference for ds-host</a></li>
						</ul>
					</li>
					<li>
						<h4 id="apps">Apps</h4>
						<ul>
							<li><a href="https://leftovers.olivierforget.net/app/">Leftovers</a>: Keep track of leftovers in your refrigerator</li>
							<li><a href="https://shoppinglist.olivierforget.net/">ShoppingList</a>: A shopping list app with stock tracking</li>
						</ul>
					</li>
				</ul>
			</nav>
		</docs-page-sidebar>

		<input type="checkbox" id="ds-show-nav-input" />

		<article>
			<slot />
		</article>
	</ds-docs-page>
</BaseLayout>