---
	import BaseLayout from './BaseLayout.astro';
---
<BaseLayout>
	<header>
		<h1 class="dropserver-logo big">
			dr<span class="drop-o">o</span>p<span class="s">server</span>
		</h1>
		<span>
			<a href="https://github.com/teleclimber/Dropserver">Github</a>
		</span>
	</header>

	<article>
		<slot />
	</article>
</BaseLayout>