---
	import BaseLayout from './BaseLayout.astro';
---
<style>
.links a {
	margin-left: 1rem;
}
</style>
<BaseLayout>
	<header>
		<h1 class="dropserver-logo big">
			dr<span class="drop-o">o</span>p<span class="s">server</span>
		</h1>
		<div class="links">
			<a href="/docs/">Docs</a>
			<a href="https://github.com/teleclimber/Dropserver">Github</a>
		</div>
	</header>

	<article>
		<slot />
	</article>
</BaseLayout>