---
---

<style>
h5 {
	margin: 0 0 5px -35px;
	text-transform: uppercase;
	font-size: 1rem;
	display: inline-block;
	background-color: rgb(57, 78, 172);
	color: white;
	font-weight:bold;
	padding: 2px 35px;
}
.note {
	background: linear-gradient(0deg, rgb(57, 78, 172) 0%, rgb(235, 54, 54) 50%, rgba(252,176,69,1) 100%);	/*rgba(131,58,180,1)*/
	margin: 1em 0;
}
.inner {
	margin-left: 10px;
	padding: 10px;
	background-color: white;
}
p {
	margin: 0;
}
</style>

<div class="note">
	<div class="inner">
		<h5>Note:</h5>
		<p>
			<slot />
		</p>
	</div>
</div>